body {
    
    background-color: antiquewhite;
}
#title{
    color: brown;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#img{
    width: 700px;
    height: 300px;
    position: absolute;
    bottom: -80%;
    left: 24%;
}

#search{
outline-color: blue;
width: 700px;
height: 50px;
position:absolute;

left: 24%;
}

#button{
position: absolute;
left: 80%;
bottom: 10px;
width: 80px;
height: 30px;
border: 3px solid antiquewhite;
background-color:aquamarine;
}

#search-container{
    background-color: aquamarine;
    height: 50px;
    position: relative;
}